body {
    font-size: 20px
}

header {display: none}

#content h1:first-child {
    display: inline-block;
    color: #5d4d7a;
    text-shadow: 1px 1px #b2b2b2;
    line-height: 1em;
    font-size: 2.2em;
    font-family: "PT Mono", monospace;
    font-weight: 600
}

#content ul {
    margin: 0;
    padding: 0 10% 0 10%;
    font-size: 1.2em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    line-height: 2em

}
#content ul li {
    display: inline-block;
    max-width: 80%
}

@media screen and (max-width: 960px) {
    #content ul {padding: 0 0 0 5%}
    #content ul li {max-width: 100%}
}
