body {
    margin: 0 25% 0 25%;
    background: #292b2e;
    color: #b2b2b2;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.6em
}

header {margin: 0}

h1, h2 {display: inline-block}
h2, h3 {font-family: "Source Code Pro", monospace}
h1 {
    padding: 12px 8px;
    background: #5d4d7a;
    color: #fff;
    border: #5d4d7a 1px solid;
    line-height: 1em;
    margin-bottom: 0.2em;
    font-family: "PT Mono", monospace;
    font-weight: 600
}
h2 {
    color: #7c68a1;
    font-weight: 600
}
h3 {
    margin: 0;
    font-weight: 400
}

a {
    color: #e8d348;
    text-decoration: none
}
a:hover {color: #ffee00}

ul, ol, h2 + p {margin-top: 0}
