@font-face {
  font-family: 'Atkinson-Hyperlegible';
  font-style: normal;
  font-weight: normal;
  src: local('Atkinson-Hyperlegible-Regular'),
       url(assets/fonts/Atkinson-Hyperlegible-Regular.woff2) format('woff2'),
       url(assets/fonts/Atkinson-Hyperlegible-Regular.woff) format('woff')
}
@font-face {
  font-family: 'Atkinson-Hyperlegible';
  font-style: italic;
  font-weight: normal;
  src: local('Atkinson-Hyperlegible-Italic'),
       url(assets/fonts/Atkinson-Hyperlegible-Italic.woff2) format('woff2'),
       url(assets/fonts/Atkinson-Hyperlegible-Italic.woff) format('woff')
}
@font-face {
  font-family: 'Atkinson-Hyperlegible';
  font-style: normal;
  font-weight: bold;
  src: local('Atkinson-Hyperlegible-Bold'),
       url(assets/fonts/Atkinson-Hyperlegible-Bold.woff2) format('woff2'),
       url(assets/fonts/Atkinson-Hyperlegible-Bold.woff) format('woff')
}
@font-face {
  font-family: 'Atkinson-Hyperlegible';
  font-style: italic;
  font-weight: bold;
  src: local('Atkinson-Hyperlegible-BoldItalic'),
       url(assets/fonts/Atkinson-Hyperlegible-BoldItalic.woff2) format('woff2'),
       url(assets/fonts/Atkinson-Hyperlegible-BoldItalic.woff) format('woff')
}

body {
    margin: 0 25% 0 25%;
    padding-bottom: 2em;
    background-color: #292b2e;
    background-image: url(assets/tile.svg);
    background-repeat: repeat;
    color: #b2b2b2;
    font-family: "Atkinson-Hyperlegible", sans-serif;
    font-size: 20px;
    line-height: 1.6em
}

::selection, ::-moz-selection {
    background-color: #49d1a6;
    color: #222
}

a {
    color: #e8d348;
    text-decoration: none;
    transition: 0.16s ease
}
a:hover {
    color: #ffee00
}
a.ref, a.ref:hover {
    color: #777
}

header .title {
    display: inline-block;
    color: #6754bb;
    text-shadow: 1px 1px #b2b2b2;
    line-height: 1em;
    margin-bottom: 0.5em;
    font-size: 1.8em;
    font-family: "Source Code Pro", monospace;
    font-weight: 600
}
header a#back {
    display: inline-block;
    position: absolute;
    margin: 0;
    top: 1rem;
    left: 1rem;
    font-family: "Source Code Pro", monospace;
    font-size: 3em;
    color: #7c68a1
}
header a#back:hover {color: #ffee00}
header .date {
    display: inline-block;
    position: absolute;
    margin: 0;
    top: 1.4rem;
    left: 4rem;
    padding: 0px 4px;
    font-family: "Source Code Pro", monospace;
    background: #6754bb;
    color: #fff
}

#content h1, #content h2 {
    font-family: "Source Code Pro", monospace;
    font-weight: 600
}
#content h1 {
    color: #7c68a1;
    font-size: 1.4em
}
#content h2 {
    color: #4f97d7;
    font-size: 1.2em;
    margin-left: 0.6em
}
#content h3 {
    color: #2d9574;
    font-size: 1em
}

#content ul, #content ol, #content h1 + p, #content h2 + p, #content h3 + p {
    margin-top: 0
}
#content ul, #content ol, #content p, #content div.sourceCode {
    margin-left: 1.5em;
    margin-right: 1.5em
}
#content .math {
    font-size: 18px
}

/*Quotes*/
blockquote {
    border-left: 4px #7c68a1 solid;
    margin-left: 2em;
    padding-left: 8px
}

/*Source code*/
pre.sourceCode {
    margin-left: 1em;
    font-family: monospace
}
div.sourceCode {
    font-size: 18px;
    background: #222;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
}
code span.ot {
    color: #a81d72
}

@media screen and (max-width: 960px) {
    body {margin: 0 1em 0 1em}
    header .title {margin-top: 2em}
    #content h2 {margin-left: 0}
    #content ul, #content ol, #content p {
	    margin-left: 0.5em;
	    margin-right: 0.5em
    }
    blockquote {margin-left: 1em}
}
