body {
    margin: 0 25% 0 25%;
    padding-bottom: 1.5em;
    background-color: #292b2e;
    background-image: url(tile.svg);
    background-repeat: repeat;
    color: #b2b2b2;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    line-height: 1.6em
}

::selection, ::-moz-selection {
    background-color: #121212
}

a {
    color: #e8d348;
    text-decoration: none;
    transition: 0.16s ease
}
a:hover {
    color: #ffee00
}

header .title {
    display: inline-block;
    color: #6754bb;
    text-shadow: 1px 1px #b2b2b2;
    line-height: 1em;
    margin-bottom: 0.5em;
    font-size: 2em;
    font-family: "PT Mono", monospace;
    font-weight: 600
}
header a#back {
    display: inline-block;
    position: absolute;
    margin: 0;
    top: 1rem;
    left: 1rem;
    font-size: 3em;
    color: #7c68a1
}
header a#back:hover {color: #ffee00}
header .date {
    display: inline-block;
    position: absolute;
    margin: 0;
    top: 1.4rem;
    left: 4rem;
    padding: 0px 4px;
    font-family: "Source Code Pro", monospace;
    background: #6754bb;
    color: #fff
}

#content h1, #content h2 {
    font-family: "Source Code Pro", monospace;
    font-weight: 600
}
#content h1 {
    color: #7c68a1;
    font-size: 1.6em
}
#content h2 {
    color: #2d9574;
    font-size: 1.4em;
    margin-left: 0.6em
}
#content h3 {
    color: #4f97d7;
    font-size: 1.2em
}

#content ul, #content ol, #content h1 + p, #content h2 + p, #content h3 + p {
    margin-top: 0
}
#content ul, #content ol, #content p {
    margin-left: 1.5em;
    margin-right: 1.5em
}

@media screen and (max-width: 960px) {
    body {margin: 0 1em 0 1em}
    header .title {margin-top: 2em}
    #content h2 {margin-left: 0}
    #content ul, #content ol, #content p {
	margin-left: 0.5em;
	margin-right: 0.5em
    }
}
